<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Enquestes Online{% endblock %}</title>
    <meta name="author" content="DevPovoa" />
    <meta name="robots" content="index, follow" />
    {% block meta %}{% endblock %} {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
  </head>
  <body>
    <header>
      {% block header %}
      <h1>Enquestes Online</h1>
      {% endblock %}
    </header>

    <main role="main">{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; {{ now|date:"Y" }} Enquestes Online.</p>
    </footer>
  </body>
</html>
