{% extends "polls/base.html" %} {% block title %}Lista de Enquetes Ativas |
Enquestes Online{% endblock %} {% block meta %}

<meta
  name="description"
  content="Veja as opções disponíveis para a enquete: {{ question.question_text }}"
/>
{% endblock %} {% block content %}
<main role="main" aria-labelledby="question-title">
  <section>
    <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend>
          <h1 id="question-title">{{ question.question_text }}</h1>
        </legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %} {% for choice in question.choice_set.all %}
        <input
          type="radio"
          name="choice"
          id="choice{{ forloop.counter }}"
          value="{{ choice.id }}"
        />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label
        ><br />
        {% endfor %}
      </fieldset>
      <input type="submit" value="Vote" />
    </form>
  </section>
</main>
{% endblock %}
